# Rules
/.augment-guidelines
/.windsurfrules
/.clinerules
/.cursor/rules/*
!/.cursor/rules/.gitkeep
CLAUDE.md

# TypeScript
tsconfig.tsbuildinfo

# deps
node_modules/

# Local
.DS_Store
*.local
# *.log*
